@import "../styles.scss";

.search-btn{
    border-color: var(--primary-color) !important;
}

.catgeory-wrapper{
    margin: 4vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}